/* Common Styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.btn{
    border: none;
    padding: 13px 25px;
    background-color: #FD6E0A;
    color: #fff;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}
/* Common Styles End */
nav h3{
    font-size: 30px;
}
nav h3 .logo-text{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 130px 20px 30px;
}
nav  > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav li a{
    text-decoration: none;
    color: #474747;
    font-size:  18px;
}
.name-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 30px;
    line-height: 25px;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 700px;
}
.name-content{
    margin-top: -100px;
}
.download-btn{
    margin-right: 20px;
}
.hi{
    color: #474747;
    word-spacing: 10px;
}
.hardy{
    font-size: 40px;
    color: #181818;
}
.hardy-img{
    width: 400px;
    margin-bottom: -7px;
    margin-right: 60px;
}