/* Common Styles */
body{
    font-family: 'Open Sans', sans-serif;
}
.btn{
    border: none;
    padding: 13px 25px;
    background-color: #FD6E0A;
    color: #fff;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}
/* Common Styles End */
nav h3{
    font-size: 30px;
}
nav h3 .logo-text{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 130px 20px 30px;
}
nav  > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;

}
nav li a{
    text-decoration: none;
    color: #474747;
    font-size:  18px;
}
.name-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0px 30px;
    line-height: 25px;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 700px;
}
.name-content{
    margin-top: -100px;
}
.download-btn{
    margin-right: 20px;
}
.hi{
    color: #474747;
    word-spacing: 10px;
}
.hardy{
    font-size: 40px;
    color: #181818;
}
.hardy-img{
    width: 400px;
    margin-bottom: -7px;
    margin-right: 60px;
}
.titles{
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    padding-top: 150px;
    color: #181818;
}
.about-content p{
    color: #757575;
    text-align: center;
    padding: 20px 200px;
}
.about-info-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-info{
    margin-right: 50px;
}
.about-info-container span{
    color: #474747;
}
.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 140px;
}
.skill{
    padding: 10px;
    margin-right: 40px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.2);
}
.skill h4{
    color: #181818;
    font-weight: 700;
}
.skill p{
    color:#757575;
}
.resume-container{
    display: flex;
    column-gap: 100px;
    padding: 0 150px;
    padding-top: 50px;
}
.education,.experience{
    border-bottom: 1px solid #7c7c7c;
}
.education h2,.experience h2{
    color: #474747;
    font-size: 25px;
}
.education p,.experience p{
    color: #757575;
}
.education h3,.experience h3{
    color: #474747;
}
.cv-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}